.purple {
  background-color: #552b80;
}

.white-txt {
  color: white;
}

.header {
  font-weight: 350;
}

.border-radius {
  border-radius: 0.3rem;
}

img {
  width: 100%;
}

button {
  border: none;
}
